/* Style for the bar chart */
.bar-chart {
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-border-color: transparent;
 }

 /* Style for the chart plot background */
 .chart-plot-background {
     -fx-background-color: transparent;
 }

/* Style for the chart title */
.chart-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #2fff;
}

/* Style for the category axis (x-axis) */
.axis {
    -fx-tick-label-fill: #fff;
    -fx-font-size: 18px;
}

/* Style for the number axis (y-axis) */
.number-axis {
    -fx-tick-label-fill: #fff;
    -fx-font-size: 18px;
}

/* Style for the bars */
.default-color0.chart-bar {
    -fx-bar-fill: #fff;
}

.default-color1.chart-bar {
    -fx-bar-fill: #50e3c2;
}

.default-color2.chart-bar {
    -fx-bar-fill: #f5a623;
}

.default-color3.chart-bar {
    -fx-bar-fill: #7ed321;
}

.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.2), 10.0, 0.0, 0.0, 10.0);
}