/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 22, 2018, 11:38:32 AM
    Author     : Programmer
*/

/*.tab *.tab-label {
    -fx-rotate: 90;
    -fx-max-width:140px;
    -fx-wrap-text:true;
    -fx-text-alignment:center;
    
    
}*/
.tab .tab-label {
/*    -fx-rotate: 90;
    -fx-max-width:140px;
    -fx-wrap-text:true;*/
    -fx-text-alignment:center;
    
    
}

.tab-header-background {
    -fx-background-color:  #3A423E;
}

.tab {
    /*-fx-padding: 3em 0.5em 3em 0.5em;*/
     -fx-padding: 0.1em 0.1em 0.1em 0.1em;
}

